<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Equipos</title>
  <link rel="stylesheet"  href="css/estilos.css"> 
</head>
<body>
<div id="contenedor">
		<header>
			<h1>Liga de fútbol Profesional</h1>
		</header>


		<nav>
			<ul>
				<li><a href="index.html">Home </a></li>
				<li><a href="fixture.html">Fixture y resultados</a></li>
				<li><a href="equipos.html">Equipos</a>
			</ul>
		</nav>

		<!-- 		SECCION DE NOTICIAS -->
		<section>
			<h1>Noticias</h1>
			<div id="cajaNoticias">
                 <table>
                 <tr>
                      <th> Equipo </th>
                      <th> Historia</th>
                      <th> Titulos</th>
                 </tr>
                 
                 <tr class="impar"> 
                  <td><img class="equipo" alt="" src="img/Escudos/BocaJR.jpg"></td>
                  <td> <p >Fue fundado en LA BOCA el 3 de abril de 1905 por seis vecinos adolescentes hijos de italianos. El fútbol es su disciplina más destacada, actualmente es el equipo mas grande del futbol Argentino</p></td>
                  <td><p>22_internacionales</p> <p>47_locales</p></td>
                 </tr>
                 
                 <tr class="par"> 
                  <td><img class="equipo" alt="" src="img/Escudos/independiente.jpg"></td>
                  <td> <p >Es un club deportivo, atlético y social de la República Argentina, fundado el 1 de enero de 1905.</p></td>
                  <td><p>21_internacionales</p> <p>47_locales</p></td>
                 </tr>
                 
                 <tr class="impar"> 
                  <td><img class="equipo" alt="" src="img/Escudos/river.jpg"></td>
                  <td> <p >comenzó el 25 de mayo de 1901, cuando de la unión de dos clubes amateurs (Santa Rosa y La Rosales) un grupo de 24 muchachos se reunieron</p></td>
                  <td><p>18_internacionales</p> <p>51_locales</p></td>
                 </tr>
                 
                 <tr class="par"> 
                  <td><img class="equipo" alt="" src="img/Escudos/racing.jpg"></td>
                  <td> <p >conocido también como Racing Club de Avellaneda o Racing, es una institución deportiva argentina fundada el 25 de marzo de 1903, ubicada en la ciudad de Avellaneda, en el Gran Buenos Aires.</p></td>
                  <td><p>12_internacionales</p> <p>36_locales</p></td>
                 </tr>
                 
                 <tr class="impar"> 
                  <td><img class="equipo" alt="" src="img/Escudos/Sanlorenzo.png"></td>
                  <td> <p >Fue fundado en el barrio de Almagro de la ciudad de Buenos Aires el primer día de abril de 1908, por iniciativa de un grupo de jóvenes con la colaboración del sacerdote salesiano R.P.</p></td>
                  <td><p>10_internacionales</p> <p>34_locales</p></td>
                 </tr>
                 </table>
			</div>
		</section>

		<aside>
			<h2>Auspiciantes</h2>
			<video  width="200" height="80 " src="img\cheverolet.mp4" autoplay muted loop></video>
			<img src="img\amazon.jpg" >
			<video width="200" height="80" src="img\adidas.mp4" autoplay muted loop></video>
				<img src="img\macro.jpg" >
		</aside>

		<footer>
			<a href="https://www.facebook.com/fabian.aucachi"><img src="img\facebook.jpg"></a>
			<a href="https://api.whatsapp.com/send?phone=+5493885101787&text=hola,%20vengo%20de%20la%20web.?"><img src="img\wap.jpg"></a>
			<a href=»mailto:fabianamericojoel99@gmail.com»><img src="img\gmail.jpg" ></a>
			<a href="https://www.google.com/maps/place/Plaza+San+Mart%C3%ADn/@-24.3760539,-65.1180475,15z/data=!4m2!3m1!1s0x0:0xd36ed125a640bc02?sa=X&ved=2ahUKEwjz9YHst6fpAhVeCrkGHRd4DRkQ_BIwCnoECBIQCA"><img src="img\ubic.jpg" ></a>
			<h2>Avenida gral Savio - Perico Jujuy -
				fabianamericojoel99@gmail.com</h2>
		</footer>
	</div>
</body>
</html>